body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

.top{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 4px 192px;
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.links{
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

.main{
    display: flex;
    justify-content: space-between;
    margin: 48px 0px;
    gap: 12px;
}

.main-txt{
    flex-wrap:wrap;
    font-size: 18px;
    color: #E5E7EB;
}
.main-big{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin:0;
    padding:0;
}